body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  margin-top: 10px; 
  padding: 10px 30px;
  max-width: 600px;
}

.progress {
  margin-top: 15px;
  padding-top: 15px;
}